.App {
  min-height: 100vh;
  background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 30%;
  border: none;
  padding: 15px;
}

.search-button{
  background: lightblue;
  border: none;
  padding: 15px 20px;
  color: white;
}

.wrap-recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.show-recipe{
  border-radius: 15px;
  padding: 20px;
  margin: 20px;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  background: white;
  border-style: dashed;
}

hr.line{
  width: 100%;
  border-top: dashed;
}

p{
  font-size: 20px;
  font-weight: 500;
}

.image{
  border-radius: 45%;
  width: 350px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}